{% extends 'common/admin.html.twig' %}

{% block body %}

    <section class="formulaire_confirm">
        <h1>La demande de réservation a bien été supprimée</h1>
        <button class="btn-formule"><a href="{{ path('admin_bookings')}}">RETOUR</a></button>
    </section>

{% endblock body %}