/*RESET DES PARAMETRES DE LA PAGE*/

@font-face {
    font-family: 'Kiona-Regular';
    src: url("../fonts/Kiona-Regular.ttf");
}

@font-face {
    font-family: 'GeosansLight';
    src: url("../fonts/GeosansLight-Oblique.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona-Regular';
    font-weight: bold;
}

.resp {
    width: 100%;
    height: auto;
}

a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

.body-admin{
    background-color: #D5D6D2;
}
/**** HOME ****/
.container-top {
    background-color: #2F2E33;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 99;
    padding: 1px;
}

.nav-top {
    background-color: #3A5199;
    padding: 21px;
    position: fixed;
    top: 76px;
    width: 100%;
    z-index: 99;

}
.nav-top ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-top ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    padding:0 30px;
    text-transform: uppercase;
}

.nav-top ul li a:hover{
    background-color: #2F2E33;
    border: 1px solid #2F2E33;
    padding: 21px;
}

.principale{
    background-image: url("../img/banniere.png");
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 143px;
    left: 0px;
}

.principale div{
    color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

.principale div h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom:12px;
}
.principale div p {
    font-size: 20px;
}

.seconde{
    height: 500px;
    width: 100%;
    background-color: #718C00;
}
.btn-align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn{
    padding: 10px;
    margin: 10px;
    width: 15%;
    text-align: center;
    background-color: #3A5199;
    font-size: 20px;
    position: relative;
    color: #ffffff;
}

.btn:hover {
    background-color: #2F2E33;
    border: 1px solid #2F2E33;
}

.contact{
    background-color: #3A5199;
    width: 13%;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    bottom: 500px;
    left: 0;
    text-align: center;
    color: #ffffff;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #3A5199;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.footer_right{
    width: 30%;
    text-align: center;
}

.footer_right h4 {
    padding-bottom: 20px;
}

.footer_center{
    width: 30%;
    text-align: center;
}

.footer_center h4{
    padding-bottom: 50px;
}

.footer_left{
    width: 30%;
    text-align: center;
}

.footer_left h4{
    padding-bottom: 50px;
}

.footer_right ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_right ul .facebook{
    padding:0 30px;
}

.up_arrow{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 3%;
}

.up_arrow img {
    width: 100%;
}

.container-top-admin {
    background-color: #2F2E33;
    width: 100%;
    text-align: center;
    z-index: 99;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}

.nav-top-admin {
    background-color: #3A5199;
    padding: 21px;
    width: 100%;
    z-index: 99;

}
.nav-top-admin ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-top-admin ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    padding:0 30px;
    text-transform: uppercase;
}
/******FORMULAIRE DE CONNEXION******/

form .form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#remember_me{
    margin-top: 10px;
}
form .form-center div label {
    margin: 10px;
    font-size: 30px;
    font-family: 'GeosansLight';
}

form .form-center div input {
    width: 30%;
    height: 30px;
}

/******PAGE DE CONFIRMATION******/

.confirmation{
    width: 100%;
    text-align: center;
    font-family: 'Kiona-Regular';
    font-size: 30px;
    margin-bottom: 60px;
}

.confirmation a {
    color: #ffffff;
}

/******FORMULAIRE D'AJOUT D'ARTICLE / CATEGORIE******/

form .title_input {
    width: 50%;
    height: 30px;
}

form .content_input{
    width: 50%;
    height: 300px;
}

form label{
    margin: 10px;
    font-size: 30px;
    color: #ffffff;
}

new_categorie h1{
    text-align: center;
    color: #ffffff;
    margin-bottom: 100px;
}

#article_category{
    width: 50%;
    height: 30px;
    font-size: 20px;
}

/******PAGE ADMIN ARTICLE******/

section{
    width: 100%;
    text-align: center;
    color: white;
}

section h1{
    margin: 30px 0;
    font-size: 30px;
}

.list_row, .list_title, .list_title_formule{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
}

.list_title h2:nth-child(4){
    width: 600px;
}

.list_title h2{
    width: 200px;
}

.list_row:nth-child(odd) {
    background-color: #D5D6D2;
}

.list_row:nth-child(even) {
    background-color: rgba(58, 81, 153, 0.44);
}

.img_col, .title_col, .cat_col{
    width: 200px;
}

.content_col{
    width: 600px;
}

.ajout{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/******PAGE ADMIN CONFIRM DELETE ARTICLE******/

.suppression{
    width: 80%;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
}

.suppression h1{
    margin: 150px 0;
}

/******PAGE ADMIN CONSULT ARTICLE******/

.consult_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.retour_article{
    text-align: center;
    margin-top: 100px;
}

.retour_article{
    padding: 10px;
    width: 15%;
    text-align: center;
    background-color: #3A5199;
    font-size: 20px;
    color: #ffffff;
}

.retour_article a:hover {
    background-color: #2F2E33;
    border: 1px solid #2F2E33;
}


/******PAGE ADMIN CONSULT CATEGORIE******/

.btn-return{
    padding: 10px;
    margin: 10px;
    width: 15%;
    text-align: center;
    background-color: #3A5199;
    font-size: 20px;
    position: relative;
    top: 120px;
    left: 120px;
    color: #ffffff;
}

.btn:hover {
    background-color: #2F2E33;
    border: 1px solid #2F2E33;
}

/******PAGE AJOUT FORMULE******/

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

/******PAGE ADMIN FORMULE******/


.list_title_formule h2:nth-child(1){
    width: 160px;
}

.list_title_formule h2:nth-child(2){
    width: 160px;
}

.list_title_formule h2:nth-child(3){
    width: 500px;
}

.list_title_formule h2:nth-child(4){
    width: 170px;
}

.list_title_formule h2:nth-child(5){
    width: 150px;
}

.option_col{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.picto-container{
    width: 30px;
}

.img-fluid{
    width: 100%;
}
