{% extends 'common/admin.html.twig' %}


{% block body %}
    <title>Category index</title>

    <h1>Category index</h1>

        {% for category in categories %}

                <p>{{ category.name }}</p>

                <div class="btn-align">
                    <imput type="button" class="btn"><a href="{{ path('category_show', {'id': category.id}) }}">CONSULTER<span class="jauge-remplissage"></span></a></imput>
                    <imput type="button" class="btn"><a href="{{ path('category_edit', {'id': category.id}) }}">MODIFIER</a></imput>
                </div>
        {% else %}
            <p>
                Aucune catégorie n'est enregistrée
            <p>
        {% endfor %}

    <imput type="button" class="btn"><a href="{{ path('category_new') }}">Create new</a></imput>
{% endblock %}
