{% include 'common/header.html.twig'%}

<main>

    {% block body %}
    {% endblock body %}


</main>

{% include 'common/footer.html.twig'%}
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</body>
