{% extends 'common/base.html.twig' %}

{% block title %}Co Working La Centrale Cognac{% endblock %}

{% block body %}

    <section class="principale">
        <div>
            <h1>Co-Working La Centrale</h1>
            <p>Situé en plein coeur de la citée des eaux de vie, le long du fleuve Charente, dans une ancienne centrale hydraulique.</p>
            <p>Venez découvrir la centrale !</p>
        </div>
        <div class="btn-align">
            <imput type="button" class="btn"><a href="">LES TARIFS<span class="jauge-remplissage"></span></a></imput>
            <imput type="button" class="btn"><a href="">RESERVER<span class="jauge-remplissage"></span></a></imput>
        </div>
    </section>
    <section class="seconde"></section>
{% endblock body%}