{% extends 'common/base.html.twig' %}

{% block title %}Co Working La Centrale Cognac{% endblock %}

{% block content %}
    <div class="container container-banniere">
        <img src="{{ asset('assets/img/banniere.jpg') }}" alt="espace de co-working" class="responsive">
    </div>
    <div class="test"></div>

{% endblock content%}