{% extends 'common/base.html.twig' %}

{% block body %}

    <section class="formulaire_confirm">
        <h1>Votre demande de réservation a bien été transmise</h1>
        <button class="btn-formule"><a href="{{ path('formules')}}">RETOUR</a></button>
    </section>

{% endblock body %}